#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers2 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2074d4;
    color: white;
  }

  .btnNext{
    background-color: #2074d4;
    border: none;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    color: #ffffff;
    width: 300px;
    height: 80px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
    width: 50%;
    margin: 5% 25%;
}

.btnNext:hover{
    color: #ddd;
}